.example-container {

  width: 260px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  background-color: #1AC8DB;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.example-sidenav {
  padding: 0px;
  background-color: #0292B7;
  width: 190px;
  display: flex;
justify-content: space-around;
font-size: 20px;



  button:hover{
    background-color:#A4E8E0;
    display: flex;



  }
  buttton{
display: flex;
margin-left: 0px;
font-size: 25px;
padding-left: 0px;



  }

}
img{
  width: 30px;
  cursor: pointer;
}
h4{
  cursor: pointer;
}
span{
  cursor: pointer;
}
.example-container{
  margin-left: 0px;
}
