.example-container {

  width: 200px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  background-color: #1AC8DB;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  background-color: #0292B7;
  width: 150px;
  display: flex;


  button:hover{
    background-color:#DEE2EC;
    display: flex;


  }
  buttton{
display: flex;


  }

}
