<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" >

  <img  src="../../../../assets/img/hello.jpeg">

    <h6>Colchones</h6>

    <button mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Productos destacados
    </button>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Example home icon">airline_seat_individual_suite</mat-icon>

    Colchones</button>

  <mat-menu #menu="matMenu">

    <button mat-menu-item>hola</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="Example home icon">airline_seat_flat_angled</mat-icon>
    somieres</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-raised-button>
    <mat-icon  aria-hidden="false" aria-label="Example home icon">person</mat-icon>

    Login
  </button>
  </mat-drawer>


  <div class="example-sidenav-content">
    <p>Revisa nuestras  </p>

    <button type="button" color="primary" mat-button (click)="drawer.toggle()">
      Ofertas
    </button>
  </div>

</mat-drawer-container>

