<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" >
  <img  src="../../../../assets/img/hello.jpeg" routerLink="home">
    <h6 routerLink="home">Colchones</h6>

    <button mat-raised-button routerLink routerLink="/productosdestacados">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Productos destacados
    </button>
    <button mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">airline_seat_flat_angled</mat-icon>
      Nuestros colchones
    </button>
    <button mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="Example home icon">airline_seat_individual_suite</mat-icon>
      nuestros somieres
    </button>



  <button mat-raised-button>
    <mat-icon  aria-hidden="false" aria-label="Example home icon">person</mat-icon>

    Login
  </button>
  </mat-drawer>


  <div class="example-sidenav-content">
    <p>Revisa nuestras  </p>

    <button type="button" color="primary" mat-button (click)="drawer.toggle()">
      Ofertas
    </button>
  </div>

</mat-drawer-container>

